.slick-dots li.slick-active button:before {
    color: rgb(250, 6, 6) !important;
  }
  .slick-dots li button:before {
    color: rgb(20, 18, 18) !important;
  }

  .slick-prev{
    display: contents !important;
    background-color: brown !important;
  }
  
  .slick-next:before, .slick-prev:before {
    font-family: slick !important;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(202, 22, 22);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}